@import '../Styles/abstracts/_colors.scss';

.index-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .recent-post {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 20px;
            font-weight: 800;
            color: $White;
        }
    }
}
