@page "/"

<PageTitle>@PageTitleResource.Index</PageTitle>

<div class="index-container">
    
    <div class="recent-post">
        <span class="title">آخرین مطالب</span>

        @for (int i = 0; i < 10; i++)
        {
            <PostPreview />
        }
    </div>
</div>