@import '../Styles/abstracts/_colors.scss';

.index-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

    .title {
        font-size: 20px;
        font-weight: 800;
        color: $White;
    }

    .recent-post {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
}
