@import '../Styles/abstracts/_colors.scss';

.main-index {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .recent-post {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        .title {
            font-size: 20px;
            font-weight: 800;
            color: $White;
        }
    }

    .activity {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        .activity-year {
            display: flex;
            flex-flow: column wrap;
            direction: ltr;
            max-height: 300px;
            width: 12%;

            .year {
                margin: 6px;
                cursor: pointer;
                border-radius: 6px;
                padding: 8px 42px;
                color: $White;

                &:hover {
                    background-color: $HoverColor;
                }

                &.selected {
                    background-color: $InfoColor;
                }
            }
        }

        .activity-view {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            width: 50%;
            direction: ltr;
            background-color: $Palette2Color;
            padding: 10px;
            border: 1px solid $BorderColor;
            border-radius: 10px;

            .day {
                width: 15px;
                height: 15px;
                margin: 1px;
                border-radius: 3px;
                background-color: #161b22;

                &.selected {
                    background-color: #47C367;
                }
            }
        }
    }
}
