@page "/sign-up"
@inherits AppBaseComponent

<PageTitle>@PageTitleResource.SignUp</PageTitle>

<div class="signup-container">
    <EditForm Model="_signUpRequestDto" OnValidSubmit="DoSignUp">

        <div>
            <FluentLabel For="UserName">UserName</FluentLabel>
            <FluentTextField @bind-Value="_signUpRequestDto.UserName" id="UserName" />
            <ValidationMessage For="@(() => _signUpRequestDto.UserName)" />
        </div>

        <div>
            <FluentLabel For="Password">Password</FluentLabel>
            <FluentTextField @bind-Value="_signUpRequestDto.Password" id="Password" />
            <ValidationMessage For="@(() => _signUpRequestDto.Password)" />
        </div>

        <FluentButton Type="ButtonType.Submit">SignUp</FluentButton>
    </EditForm>

    @if (string.IsNullOrEmpty(_message) is false)
    {
        <h3>@_message</h3>
    }
</div>
