@page "/sign-in"

<PageTitle>@PageTitleResource.SignIn</PageTitle>

<div class="signin-container">
    <EditForm Model="_signInModel" OnValidSubmit="DoSignIn">

        <div>
            <BitLabel For="UserName">UserName</BitLabel>
            <BitTextField @bind-Value="_signInModel.UserName" id="UserName" />
            <ValidationMessage For="@(() => _signInModel.UserName)" />
        </div>

        <div>
            <BitLabel For="Password">Password</BitLabel>
            <BitTextField @bind-Value="_signInModel.Password" id="Password" />
            <ValidationMessage For="@(() => _signInModel.Password)" />
        </div>

        <BitButton ButtonType="BitButtonType.Submit">SignIn</BitButton>
    </EditForm>

    @if (string.IsNullOrEmpty(_message) is false)
    {
        <h3>@_message</h3>
    }
</div>