@page "/sign-up"

<PageTitle>@PageTitleResource.SignUp</PageTitle>

<div class="signup-container">
    <EditForm Model="_signUpRequestDto" OnValidSubmit="DoSignUp">

        <div>
            <BitLabel For="UserName">UserName</BitLabel>
            <BitTextField @bind-Value="_signUpRequestDto.UserName" id="UserName" />
            <ValidationMessage For="@(() => _signUpRequestDto.UserName)" />
        </div>

        <div>
            <BitLabel For="Password">Password</BitLabel>
            <BitTextField @bind-Value="_signUpRequestDto.Password" id="Password" />
            <ValidationMessage For="@(() => _signUpRequestDto.Password)" />
        </div>

        <BitButton ButtonType="BitButtonType.Submit">SignUp</BitButton>
    </EditForm>

    @if (string.IsNullOrEmpty(_message) is false)
    {
        <h3>@_message</h3>
    }
</div>
