@page "/sign-up"

<PageTitle>@PageTitleResource.SignUp</PageTitle>


<h3>SignUp</h3>

<EditForm Model="_signUpRequestDto" OnValidSubmit="DoSignUp">
    <div class="form-group">
        <label for="UserName">UserName</label>
        <InputText @bind-Value="_signUpRequestDto.UserName" id="UserName" class="form-control" />
        <ValidationMessage For="@(() => _signUpRequestDto.UserName)" />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <InputText @bind-Value="_signUpRequestDto.Password" id="Password" class="form-control" />
        <ValidationMessage For="@(() => _signUpRequestDto.Password)" />
    </div>

    <button type="submit" class="btn btn-success" style="margin-top: 30px;">SignIn</button>
</EditForm>

@if (string.IsNullOrEmpty(_message) is false)
{
    <h3>@_message</h3>
}