@page "/sign-in"
@inherits AppBaseComponent

<PageTitle>@PageTitleResource.SignIn</PageTitle>

<div class="signin-container">
    <EditForm Model="_signInModel" OnValidSubmit="DoSignIn">

        <div>
            <FluentLabel For="UserName">UserName</FluentLabel>
            <FluentTextField @bind-Value="_signInModel.UserName" id="UserName" />
            <ValidationMessage For="@(() => _signInModel.UserName)" />
        </div>

        <div>
            <FluentLabel For="Password">Password</FluentLabel>
            <FluentTextField @bind-Value="_signInModel.Password" id="Password" />
            <ValidationMessage For="@(() => _signInModel.Password)" />
        </div>

        <FluentButton Type="ButtonType.Submit">SignIn</FluentButton>
    </EditForm>

    @if (string.IsNullOrEmpty(_message) is false)
    {
        <h3>@_message</h3>
    }
</div>