// Sass isolation approach
// https://chrissainty.com/get-some-sass-into-your-blazor-app/


@import 'abstracts/_colors.scss';

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

html, body, #app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    direction: rtl;
}

// Shared
@import '../Shared/MainLayout.razor.scss';
@import '../Shared/Header.razor.scss';
@import '../Shared/Footer.razor.scss';
@import '../Shared/NavMenu.razor.scss';
@import '../Shared/MainLayout.razor.scss';
@import '../Shared/NotAuthorizedComponent.razor.scss';
@import '../Shared/PageNotFound.razor.scss';

// Components
@import '../Components/BlogPostPreview.razor.scss';

// Pages
@import '../Pages/Index.razor.scss';
@import '../Pages/SignUp.razor.scss';
@import '../Pages/SignIn.razor.scss';
@import '../Pages/BlogPost.razor.scss';

// Pages => Admin
@import '../Pages/Admin/Users.razor.scss';
@import '../Pages/Admin/BlogCategories.razor.scss';
