// https://colorhunt.co/palette/3829333b5249519872a4b494

$Black: #000000;
$White: #FFFFFF;

$HeaderColor: #0f172a;
$BodyColor: #FFFFFF;
$FooterColor: #30363d;
$NavMenuColor: #0f172a;

$TitleColor: #FFFFFF;
$SubTitleColor: #FFFFFF;
$TextColor: #ffffffb3;

$BorderColor: #777;

$InfoColor: #1f6feb;
$WarningColor: #1f6feb;
$DangerColor: #1f6feb;