// https://colorhunt.co/palette/3829333b5249519872a4b494

$Black: #000000;
$White: #FFFFFF;

$HeaderColor: rgba(191, 191, 191, 0.52);
$MainBackgroundColor: #FFFFFF;
$FooterColor: #30363d;

$TextColor: #000000;
$TitleColor: #000000;
$SubTitleColor: #30363d;

$BorderColor: #777;

$InfoColor: #1f6feb;
$WarningColor: #1f6feb;
$DangerColor: #1f6feb;