@inherits AppBaseComponent

<div class="preview-container">

    <img alt="@ImageAlt" src="@ImageSrc" />

    <div class="content">
        <strong class="title">@Title</strong>
        <p class="text">@ShortDescription</p>
    </div>
</div>