@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';


.preview-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 270px;
    height: 470px;
    border-radius: 5px;
    padding: 10px;
    background-color: $HeaderColor;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: $FooterColor;
        /*width: 260px;
        height: 460px;*/
    }

    img {
        border-radius: 5px;
        width: 100%;
        height: 200px;
    }

    .content {
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 200px;
        padding-top: 20px;

        .title {
            font-size: 15px;
            font-weight: 600;
            color: $TitleColor;
        }

        .text {
            padding-top: 10px;
            overflow: hidden;
            color: $TextColor;
        }
    }

    .read-more {
        width: 100%;
        height: 100%;
    }
}
