@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_functions.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_vars.scss';

.main-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: $FooterHeight;
    background-color: $FooterColor;
    border-top: 1px solid $BorderColor;
    z-index: 10;

    .social-link-group {
        display: none;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include lt-lg {
            display: flex;
        }

        .social-link {
            cursor: pointer;
            width: rem(48px);
            height: rem(48px);
            border-radius: 50%;
            background-color: #888;
            background-size: rem(50px);
            background-position: center;
            background-repeat: no-repeat;
        }

        .twitter-link {
            background-image: url('../wwwroot/images/icons/twitter-icon.svg');

            &:hover {
                background-color: #1DA1F2;
            }
        }

        .github-link {
            background-image: url('../wwwroot/images/icons/github-icon.svg');

            &:hover {
                background-color: #000;
            }
        }

        .youtube-link {
            background-image: url('../wwwroot/images/icons/youtube-icon.svg');

            &:hover {
                background-color: #FF0000;
            }
        }

        .linkedin-link {
            background-image: url('../wwwroot/images/icons/linkedin-icon.svg');

            &:hover {
                background-color: #0077B5;
            }
        }
    }

    .copy-right-txt {
        font-size: rem(14px);
        line-height: 1.5;
        letter-spacing: 0;
        font-weight: 400;
        color: #3E5060;
    }
}
