@inherits AppBaseComponent

<div class="main-footer">
    <div class="social-link-group">
        <a class="social-link twitter-link" target="_blank" href=""></a>
        <a class="social-link github-link" target="_blank" href=""></a>
        <a class="social-link youtube-link" target="_blank" href=""></a>
        <a class="social-link linkedin-link" target="_blank" href=""></a>
    </div>
    <div class="copy-right-txt">Copyright © 2023 HiCode | All Rights Reserved </div>
</div>