<div class="main-footer">
    <div class="social-link-group">
        <a class="social-link twitter-link" target="_blank" href="https://twitter.com/bitplatformhq"></a>
        <a class="social-link github-link" target="_blank" href="https://github.com/bitfoundation/bitplatform"></a>
        <a class="social-link youtube-link" target="_blank" href="https://www.youtube.com/channel/UCtk33NQ91f3GOJG0HAdkdog"></a>
        <a class="social-link linkedin-link" target="_blank" href="https://www.linkedin.com/company/bit-foundation/"></a>
    </div>
    <div class="copy-right-txt">Copyright © 2023 HiCode | All Rights Reserved </div>
</div>