<div class="main-header">
    <BitButton ButtonStyle="BitButtonStyle.Standard" Href="@RoutingConstants.ClientSide.Page.Index">صفحه اصلی</BitButton>
    <BitButton ButtonStyle="BitButtonStyle.Standard" Href="@RoutingConstants.ClientSide.Page.SignUp">ثبت نام</BitButton>
    <BitButton ButtonStyle="BitButtonStyle.Standard" Href="@RoutingConstants.ClientSide.Page.SignIn">ورود</BitButton>
    <BitButton ButtonStyle="BitButtonStyle.Standard" Href="@RoutingConstants.ClientSide.Page.Archive">مطالب</BitButton>
    <BitSearchBox Placeholder="جستجو..."></BitSearchBox>
</div>