<div class="main-header">
    <a class="menu-item main-btn" href="@RoutingConstants.ClientSide.Page.Index">صفحه اصلی</a>
    <a class="menu-item main-btn" href="@RoutingConstants.ClientSide.Page.SignUp">ثبت نام</a>
    <a class="menu-item main-btn" href="@RoutingConstants.ClientSide.Page.SignIn">ورود</a>
    <a class="menu-item main-btn" href="@RoutingConstants.ClientSide.Page.Archive">مطالب</a>
    <input class="menu-item" type="search" placeholder="جستجو..." />
</div>