@inherits LayoutComponentBase

<ErrorBoundary>
    <ChildContent>
        <FluentDesignSystemProvider FillColor="#17264d" NeutralBaseColor="#eff6ff" AccentBaseColor="#2563ec" Direction="LocalizationDirection.rtl">

            <Header />
            <NavMenu />
            <main class="main-body">
                @Body
            </main>
            <Footer />

        </FluentDesignSystemProvider>
    </ChildContent>
    <ErrorContent Context="ex">
        <p class="error">@ex.Message</p>
    </ErrorContent>
</ErrorBoundary>