@import '../Styles/abstracts/_colors.scss';

.main-body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: rem(78px);
    box-sizing: border-box;
    background-color: $White;
}

.main-btn {
    display: inline-block;
    background-color: #4CAF50; /* Green */
    border-radius: 4px;
    color: white;
    padding: 8px 12px;
    text-align: center;
    font-size: 16px;
}