@inherits LayoutComponentBase

<Header />

<NavMenu />

<main class="main-body">
    <ErrorBoundary>
        <ChildContent>
            <FluentDesignSystemProvider FillColor="#07302e">
                @Body
            </FluentDesignSystemProvider>
        </ChildContent>
        <ErrorContent Context="ex">
            <p class="error">@ex.Message</p>
        </ErrorContent>
    </ErrorBoundary>
</main>

<Footer />