@inherits LayoutComponentBase

<ErrorBoundary>
    <ChildContent>

        <FluentDesignSystemProvider FillColor="#07302e" Direction="LocalizationDirection.rtl">
            <Header />
            <NavMenu />
            <main class="main-body">
                @Body
            </main>
            <Footer />
        </FluentDesignSystemProvider>

    </ChildContent>
    <ErrorContent Context="ex">
        <p class="error">@ex.Message</p>
    </ErrorContent>
</ErrorBoundary>