@import '../Styles/abstracts/_functions.scss';

.main-body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: rem(120px);
    box-sizing: border-box;
}
