@import '../Styles/abstracts/_colors.scss';

.main-body {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin-top: rem(80px);
    box-sizing: border-box;

    .main-nav {
        width: 300px;
    }

    .main-content {
        width: 100%;
    }
}
