@inherits LayoutComponentBase

<Header />

<ErrorBoundary>
    <ChildContent>
        <FluentDesignSystemProvider FillColor="#07302e" Direction="LocalizationDirection.rtl">
            <main class="main-body">
                <div class="main-nav">
                    <NavMenu />
                </div>
                <div class="main-content">
                    @Body
                </div>
            </main>
        </FluentDesignSystemProvider>
    </ChildContent>
    <ErrorContent Context="ex">
        <p class="error">@ex.Message</p>
    </ErrorContent>
</ErrorBoundary>

<Footer />