<div class="nav-container">
    <div class="nav-items">
        <div class="nav-item">
            <BitLink Class="text" Href="@RoutingConstants.ClientSide.Page.Archive">مطالب</BitLink>
        </div>
        <div class="nav-item">
            <BitLink Class="text" Href="@RoutingConstants.ClientSide.Page.News">اخبار</BitLink>
        </div>
        <div class="nav-item">
            <BitLink Class="text" Href="@RoutingConstants.ClientSide.Page.Books">کتاب ها</BitLink>
        </div>
        <BitSearchBox Class="nav-search" Placeholder="جستجو..."></BitSearchBox>
    </div>

    <BitLink Class="nav-logo" Href="@RoutingConstants.ClientSide.Page.Index" />
</div>