@inherits AppBaseComponent

<div class="main-nav @(isExpandedMenu ? "avtive" : "")">
    <FluentNavMenu Class="items">
        <FluentNavMenuGroup Text="مطالب">
            <FluentNavMenuGroup Text="مفاهیم">
                <FluentNavMenuLink Text="2-1"></FluentNavMenuLink>
                <FluentNavMenuLink Text="2-2"></FluentNavMenuLink>
                <FluentNavMenuLink Text="2-3"></FluentNavMenuLink>
            </FluentNavMenuGroup>
            <FluentNavMenuGroup Text="C# & .Net">
                <FluentNavMenuLink Text="2-1"></FluentNavMenuLink>
                <FluentNavMenuLink Text="2-2"></FluentNavMenuLink>
                <FluentNavMenuLink Text="2-3"></FluentNavMenuLink>
            </FluentNavMenuGroup>
        </FluentNavMenuGroup>
        <FluentNavMenuGroup Text="ابزارها">
            <FluentNavMenuLink Text="2-1"></FluentNavMenuLink>
            <FluentNavMenuLink Text="2-2"></FluentNavMenuLink>
            <FluentNavMenuLink Text="2-3"></FluentNavMenuLink>
        </FluentNavMenuGroup>
    </FluentNavMenu>
</div>