@import '../Styles/abstracts/_colors.scss';
@import '../Styles/abstracts/_media-queries.scss';
@import '../Styles/abstracts/_vars.scss';

.main-nav {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    width: $NavMenuWidth;
    height: 100%;
    z-index: 1;
    background-color: $NavMenuColor;
    transition: width 0.5s;
    padding: $HeaderHeight 0 $FooterHeight 0;
    overflow: auto;

    &.deactive {
        width: 0;
    }

    /* width */
    &::-webkit-scrollbar {
        width: 3px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: dimgrey;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: gainsboro;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: white;
    }
}
