
<div class="preview-container">
    <div class="photo">
        <span class="photo-animation"></span>
        <img alt="@ImageAlt" src="@ImageSrc" />
    </div>

    <div class="content">
        <span class="title">@Title</span>
        <span class="text">
            @ShortDescription
        </span>
    </div>
</div>