@inherits AppBaseComponent

<div class="preview-container">

    <img alt="@ImageAlt" src="@ImageSrc" />

    <div class="content">
        <span class="title">@Title</span>
        <span class="text">
            @ShortDescription
        </span>
    </div>

    <FluentAnchor Href="" Class="read-more">خواندن مطلب</FluentAnchor>

</div>