@page "/admin/users"
@inherits AppBaseComponent

<PageTitle>@PageTitleResource.Users</PageTitle>

<h3>Users</h3>

<button>Add</button>
<div>
    @foreach (var user in _users)
    {
        <span style="background-color: pink; padding: 5px;"><strong>UserName: </strong>@user.UserName</span>
        <button>Update</button>
        <button>Delete</button>
        <hr />
    }
</div>