@import '../../Styles/abstracts/_colors.scss';
@import '../../Styles/abstracts/_media-queries.scss';

.archive-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 20px;

    .posts {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        border-radius: 5px;

        .post-container {
            width: 250px;
            height: 370px;
        }
    }

    .pagination {
        display: flex;
        gap: 5px;
    }
}
